<div class='header'>
  <div class="container">
    <div class="header-2">
      <a href="{{ site.baseurl }}">
      <h3 class="footer-title">
        Systemisches Coaching mit Herz und Verstand
      </h3>
	  </a>
    </div>
    <div class="logo">
      <a href="{{ site.baseurl }}"><img width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
    </div>

    <div class="logo-mobile">
      <a href="{{ site.baseurl }}"><img width="{{ site.logo.mobile_width }}" height="{{ site.logo.mobile_height }}" alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
